<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-4 mb-4">
                <h5>LOGO SERVICES</h5>
                <p>Votre partenaire de confiance pour toutes vos solutions informatiques et numériques.</p>
                <div class="social-icons mt-3">
                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                    <a href="#"><i class="fab fa-twitter"></i></a>
                    <a href="#"><i class="fab fa-linkedin-in"></i></a>
                    <a href="#"><i class="fab fa-instagram"></i></a>
                </div>
            </div>
            <div class="col-lg-2 col-md-4 footer-links mb-4">
                <h5>Services</h5>
                <ul>
                    <li><a href="#">Génie Logiciel</a></li>
                    <li><a href="#">Numérisation</a></li>
                    <li><a href="#">Réseaux & Systèmes</a></li>
                    <li><a href="#">Sécurité Informatique</a></li>
                    <li><a href="#">Intelligence Artificielle</a></li>
                </ul>
            </div>
            <div class="col-lg-2 col-md-4 footer-links mb-4">
                <h5>Entreprise</h5>
                <ul>
                    <li><a href="#">À propos</a></li>
                    <li><a href="#">Notre équipe</a></li>
                    <li><a href="#">Carrières</a></li>
                    <li><a href="#">Témoignages</a></li>
                    <li><a href="#">Actualités</a></li>
                </ul>
            </div>
            <div class="col-lg-4 col-md-4 footer-links mb-4">
                <h5>Newsletter</h5>
                <p>Abonnez-vous pour recevoir nos dernières actualités et offres</p>
                <div class="input-group mt-3 newsletter-form">
                    <input type="email" class="form-control" placeholder="Votre email">
                    <button class="btn" type="button">S'abonner</button>
                </div>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-12 text-center">
                <p class="mb-0">&copy; 2025 Logo Services SARL. Tous droits réservés.</p>
            </div>
        </div>
    </div>
</footer>