{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta name="description" content="logo services ingénerie informatique sybersecurité data ia ai logiciel python">
  <meta name="author" content="logo services" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <title>{{labels.organisation}}</title>
  <link rel="icon" type="image/x-icon" href="{% static '/templates/assets/favicon.ico' %}" />
  <!-- Bootstrap icons-->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
  <!-- Google fonts-->
  <link rel="preconnect" href="https://fonts.gstatic.com" />
  <link href="https://fonts.googleapis.com/css2?family=Newsreader:ital,wght@0,600;1,600&amp;display=swap" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,300;0,500;0,600;0,700;1,300;1,500;1,600;1,700&amp;display=swap" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,400;1,400&amp;display=swap" rel="stylesheet" />
  <!-- Core theme CSS (includes Bootstrap)-->
  <link href="{% static '/templates/css/styles.css' %}" rel="stylesheet" />
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
  <link rel="stylesheet" media="screen" href="{% static '/particules/css/style.css' %}">
  <link rel="stylesheet" media="screen" href="{% static '/particules/css/particules.css' %}">
</head>
<body id="page-top">

  <!-- Navigation-->
  <!-- SATRT-->
  <!-- Navigation-->
   
  <nav class="navbar navbar-expand-lg navbar-light fixed-top shadow-sm" id="mainNav">
    <div class="container px-5">
        <a class="navbar-brand fw-bold" href="#page-top">
            <img src="{% static 'images/app_static/logo.png' %}" alt="LOGO SERVICES">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            {{labels.menu}}
            <i class="bi-list"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ms-auto me-4 my-3 my-lg-0">
                <li class="nav-item"><a class="nav-link me-lg-3" href="#">{{labels.about}}</a></li>
                <li class="nav-item"><a class="nav-link me-lg-3" href="#">{{labels.catalog}}</a></li>
                <li class="nav-item"><a class="nav-link me-lg-3" href="#">{{labels.services}}</a></li>
                <li class="nav-item"><a class="nav-link me-lg-3" href="#">{{labels.bog}}</a></li>
            </ul>
        </div>
    </div>
</nav>

<!-- Navigation-->
<!-- END-->
<!-- Navigation-->


{% block particule %}
<!-- particles.js container -->
<div id="particles-js">
  <div class="heading">
    <h1>Ingénerie</h1>
    <h3>
        {{labels.slogan}}
    </h3>
    <h1 class="mt-5">
    <button class="btn btn-primary rounded-pill px-3 mb-2 mb-lg-0" data-bs-toggle="modal" data-bs-target="#feedbackModal">
      <span class="d-flex align-items-center">
          <i class="bi-chat-text-fill me-2"></i>
          <span class="small">{{labels.contact_nous}}</span>
      </span>
    </button>
    </h1>
</div>
</div>

{% endblock particule %}

<!-- Feedback Modal-->
<div class="modal fade" id="feedbackModal" tabindex="-1" aria-labelledby="feedbackModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
          <div class="modal-header bg-primary p-4">
              <h5 class="modal-title font-alt text-white" id="feedbackModalLabel">Logo Services</h5>
              <button class="btn-close btn-close-white" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body border-0 p-4">
              <form id="contactForm" data-sb-form-api-token="API_TOKEN">
                  <!-- Name input-->
                  <div class="form-floating mb-3">
                      <input class="form-control" id="name" type="text" placeholder="Enter your name..." data-sb-validations="required" />
                      <label for="name">{{labels.label_name}}</label>
                      <div class="invalid-feedback" data-sb-feedback="name:required">{{labels.contrainte_name}}</div>
                  </div>
                  <!-- Email address input-->
                  <div class="form-floating mb-3">
                      <input class="form-control" id="email" type="email" placeholder="name@example.com" data-sb-validations="required,email" />
                      <label for="email">{{labels.label_email}}</label>
                      <div class="invalid-feedback" data-sb-feedback="email:required">{{labels.contrainte_email}}</div>
                      <div class="invalid-feedback" data-sb-feedback="email:email">{{labels.invalid_email}}</div>
                  </div>
                  <!-- Phone number input-->
                  <div class="form-floating mb-3">
                      <input class="form-control" id="phone" type="tel" placeholder="(123) 456-7890" data-sb-validations="required" />
                      <label for="phone">{{labels.telephone}}</label>
                      <div class="invalid-feedback" data-sb-feedback="phone:required">{{labels.contrainte_telephone}}</div>
                  </div>
                  <!-- Message input-->
                  <div class="form-floating mb-3">
                      <textarea class="form-control" id="message" type="text" placeholder="Enter your message here..." style="height: 10rem" data-sb-validations="required"></textarea>
                      <label for="message">{{labels.message_envoye}}</label>
                      <div class="invalid-feedback" data-sb-feedback="message:required">{{labels.contrainte_message}}</div>
                  </div>
                  <!-- Submit success message-->
                  <!---->
                  <!-- This is what your users will see when the form-->
                  <!-- has successfully submitted-->
                  <div class="d-none" id="submitSuccessMessage">
                      <div class="text-center mb-3">
                          <div class="fw-bolder">{{labels.envoy_succes}}</div>
                          <br />
                          <a href="https://startbootstrap.com/solution/contact-forms">https://startbootstrap.com/solution/contact-forms</a>
                      </div>
                  </div>
                  <!-- Submit error message-->
                  <!---->
                  <!-- This is what your users will see when there is-->
                  <!-- an error submitting the form-->
                  <div class="d-none" id="submitErrorMessage"><div class="text-center text-danger mb-3">{{labels.erreur_envoye}}</div></div>
                  <!-- Submit Button-->
                  <div class="d-grid"><button class="btn btn-primary rounded-pill btn-lg disabled" id="submitButton" type="submit">{{labels.envoye_message}}</button></div>
              </form>
          </div>
      </div>
  </div>
</div>


<!-- Contenu zone -->

{% block main %} {% endblock main %}


<!-- Fin de zone de contenu -->

{% block footer %}

<footer class="bg-white text-center py-5">
  <div class="container px-5">
      <div class="text-black">
          <div class="mb-2">&copy; {{labels.privacy_logo}}</div>
          <a href="#!" class="text-black">{{labels.privacy}}</a>
          <span class="mx-1">&middot;</span>
          <a href="#!" class="text-black">{{labels.terms}}</a>
          <span class="mx-1">&middot;</span>
          <a href="#!" class="text-black">{{labels.faq}}</a>
      </div>
  </div>
</footer>

{% endblock footer %}

<!-- scripts -->
<script src="{% static '/particules/particles.js' %}"></script>
<script src="{% static '/particules/js/app.js' %}"></script>

<!-- Bootstrap core JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
<!-- Core theme JS-->
<script src="{% static 'templates/js/scripts.js' %}"></script>

<script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>

<script src="{% static 'js/index.js' %}"></script>

<script>
  function typeEffect(element, text, speed, callback) {
      let i = 0;
      element.innerText = "";

      function type() {
          if (i < text.length) {
              element.innerHTML += text.charAt(i);
              i++;
              setTimeout(type, speed);
          } else if (callback) {
              setTimeout(callback, 5000);
          }
      }
      type();
  }

  function startTypingLoop() {
      let h1 = document.querySelector(".heading h1");
      let h3 = document.querySelector(".heading h3");

      let h1Text = h1.getAttribute("data-text");
      let h3Text = h3.getAttribute("data-text");

      function loop() {
          typeEffect(h1, h1Text, 100, function () {
              typeEffect(h3, h3Text, 50, function () {
                  setTimeout(loop, 5000);
              });
          });
      }

      loop();
  }

  document.addEventListener("DOMContentLoaded", function () {
      let h1 = document.querySelector(".heading h1");
      let h3 = document.querySelector(".heading h3");

      // Stocker le texte original en tant qu'attribut pour pouvoir le réutiliser
      h1.setAttribute("data-text", h1.innerText);
      h3.setAttribute("data-text", h3.innerText);

      startTypingLoop();
  });
</script>

</body>
</html>